
<div class="top">
      <div class="servise_name">
        <h1 class="top_realcampus">RealCumpus</h1>
        <h2 class="top_title">~キャンパスをもっと身近に~</h2>
    </div>

      <div class="topcontent-user">
        <h1 class= "Userlogin"><%= link_to 'User Log In', new_user_session_path , class: 'link-color' %></h1>
      </div>
      <div class="topcontent-student">
         <h1 class= "Studentlogin"><%= link_to 'Student Log In', new_student_session_path, class: 'link-color2' %></h1>
      </div>
</div>