
<div class="top">
      <div class="servise_name">
        <div class="top_realcampus">RealCampus</div>
        <h2 class="top_title">~キャンパスをもっと身近に~</h2>
    </div>

<!--     <div class="toplogin">
      <div class="topcontent-user">
        <h1 class= "Userlogin"><%= link_to 'ユーザーログイン', new_user_session_path , class: 'link-color' %></h1>
      </div>
      <div class="topcontent-student">
         <h1 class= "Studentlogin"><%= link_to '学生ログイン', new_student_session_path, class: 'link-color2' %></h1>
      </div>
    </div> -->
</div>