
<a class="btn" href="/confirmation">student(1)-photo</a>
<p>name</p>
<p>time</p>
<p>introduction</p>

<p>studet(2)-photo</p>
<p>name</p>
<p>time</p>
<p>introduction</p>

<p>studet(3)-photo</p>
<p>name</p>
<p>time</p>
<p>introduction</p>