<h1>ユーザーからの予約一覧</h1>

  <% @reservation.each do |reservation| %>

    <h2><%= reservation.time %></h2>
    <p>・ニックネーム</p>
    <h3><%= link_to reservation.user.nickname, student_mypage_path(reservation.id) %></h3>
    <p>・プロフィール写真</p>
    <div class="user_image"><h3>
      <%= link_to image_tag(reservation.user.avatar, size: "300x300"), student_mypage_path(reservation.id) %></h3>
    </div>
    <p>_______________________________________________</p>

   <%end%>


   <h2>シフト登録一覧</h2>
   <% @reservation_shift.each do |reservation| %>

       <p><%= reservation.time %></p>
   <% end %>