<h1>案内学生一覧</h1>


  <h2><%= @time %></h2>

  <% @reservations.each do |reservation| %>

    <p>・ニックネーム</p>
    <h3><%= link_to reservation.student.nickname, new_user_reservation_path(reservation.id) %></h3>

    <p>・プロフィール写真</p>
    <div class="student_image"><h3>
      <%= link_to image_tag(reservation.student.avatar, size: "300x300"), new_user_reservation_path(reservation.id) %></h3>
    </div>

    <p>・学部</p>
    <h3><%= reservation.student.department %></h3>

    <p>_______________________________________________</p>

   <%end%>




