<h1>案内時間 登録フォーム</h1>

<!-- carender機能 -->

<%= form_for @reservation, url: student_reservations_path  do |f| %>

  <p>案内できる時間を登録しよ！</p>
  <%= f.date_field :time %>
  <%= f.hidden_field :status, value: 0%>
  <%= f.submit %>

<% end %>