.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

header {
  height: 120px;
}

.header_title {
  float: left;
}

.grid-6 {
  float: right;
  margin: 10px 0 0 10px;
}

// top_indexページ
.top {
  height: 650px;
  margin: 0 auto;
  color: white;
  background: url(splash.jpg) center center / cover no-repeat fixed;
}

.servise_name {
  height: 350px;
}

.toplogin {
    width: 100%;
    text-align: center;
}

.top_realcampus {
   font-family: fantasy;
   font-size: 145px;
   text-align: center;
   padding: 100px 0 0 0;
}

.top_title {
   font-size: 40px;
   text-align: center;
   margin-top: 0px;
   color: white;
}

.link-color {
  position: relative;
  left: 20%;
  float: left;
  color: white;
  text-decoration: none;
}

.Studentlogin {
  margin-top: 140px;
}

.link-color2 {
  position: relative;
  left: 10%;
  color: white;
  text-decoration: none;
  margin-top: 90px;
}


// 学生シフト登録フォーム
.shift_form_title {
  color: #00BFFF;
  font-size: 50px;
  text-align: center;
  width: 100%;
}

.shift_form {
  height: 500px;
  text-align: center;
}

.shift_form_shorttitle {
  font-size: 20px;
  margin: 0 auto;
}

.shift_form_image {
  height: 650px;
  margin: 15px 0 0 0;
  background: url(h1.jpg) center center / cover no-repeat fixed;
}

// 学生シフトcreate
.student_create {
  height: 650px;
  color: white;
  text-align: center;
  background: url(IMG_meiban02.JPG) center center / cover no-repeat fixed;
}

.student_create_text {
  margin-top: 0px;
}

// ユーザー登録コントローラー
.user_reservation_search {
  text-align: center;

}

.user_reservation_search_image {
  height: 650px;
  margin: 15px 0 0 0;
  background: url(UC-Berkeley.jpg) center center / cover no-repeat fixed;
}

.user_reservation_index {
  color: white;
  text-align: center;
  background: url(09df227d.jpg) center center / cover no-repeat fixed;
}


.user_reservation_new {
  text-align: center;
}

.link-nickname {
  color: white;
}


// 集合場所の地図を示す！
.user_reservation_show_image1{
  height: 500px;
  margin: 15px 0 0 0;
}

// リアルな写真を貼る
.user_reservation_show_image2 {
  height: 500px;
  margin: 15px 0 0 0;
}

// チャットルーム
.reservation_text {
  text-align: center;
}

.havaaniceday {
  font-size: 70px;
  color: blue;
}

.chats {
  text-align: center;
  // background: url(UC_Logo.jpg) center center / cover no-repeat fixed;
}

// student mypage
// 左右にあるスペースに画像などを入れる形にする。
.student_mypage {
  text-align: center;
}

.student_mypage_reservation_title {
  font-size: 50px;
}

.student_mypage_shift {
  font-size: 50px;
  margin: 50px 0 0 0;
}

.shift_table {
  color: white;
  background: url(0NMfl213.jpg) center center / cover no-repeat fixed;
}

.student_mypage_show {
  text-align: center;
}

// ユーザーログイン設定
.form_box {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 600px;
}

.form_box h2 {
    margin: 20px 0;
    padding: 0;
    font-weight: normal;
}

body {
    line-height: 2;
    letter-spacing: 0.15em;
    font-size: 16px;
    color: #666666;
    font-family: 'Unica One', "Avenir", "游ゴシック", "YuGothic", "ヒラギノ角ゴ Pro W6", "HIragino Kaku Gothic Pro W6", "HIragino Kaku Gothic Pro", Osaka, Meiryo, "メイリオ", "ＭＳ Ｐゴシック", "MS P Gothic", sans-serif;
    margin: 0;
    background-color: #F0F8FF;
}

.form .label {
  width: 100%;
    margin: 5px 0 15px;
    padding: 10px;
    border: 1px solid #d8d8d8;
    border-radius: 5px;
    font-family: "游ゴシック", "YuGothic";
}

.studentlogin {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 600px;
}
